<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.it.mapper.PersonMapper">

    <!-- 一对一结果集映射 -->
    <resultMap id="ResultMap" type="com.it.pojo.Person">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>

        <!-- 关联身份证 -->
        <association property="card" javaType="com.it.pojo.IdCard">
            <id column="cid" property="id"/>
            <result column="code" property="code"/>
        </association>
    </resultMap>

    <!-- 联表查询 -->
    <select id="findPersonAndCardByPid1" parameterType="int" resultMap="ResultMap">
        select p.*,c.id as cid,c.code
        from tb_person p,tb_idcard c
        where p.card_id=c.id and p.id=#{id}
    </select>

</mapper>