<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.dao.StudentMapper">
    <resultMap id="StudentCourseQueryMap" type="com.it.pojo.Student">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <collection
                property="courseList"
                select="findCoursesByStudentId"
                column="id"
                ofType="com.it.pojo.Course">
        </collection>
    </resultMap>
    <select id="selectStudentWithCoursesByQuery" resultMap="StudentCourseQueryMap">
        SELECT id, name, age FROM my_student WHERE id = #{id}
    </select>
    <select id="findCoursesByStudentId" resultType="com.it.pojo.Course">
        SELECT c.* FROM t_course c JOIN t_student_course sc ON c.id = sc.course_id
        WHERE sc.student_id = #{id}
    </select>
</mapper>