<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 这里必须是你的 UserDao 接口路径！！！ -->
<mapper namespace="com.it.dao.UserDao">

    <!-- 根据用户id查询用户信息 -->
    <select id="findById" parameterType="int" resultType="com.it.pojo.User">
        select * from users where uid=#{id}
    </select>

    <!-- 新增用户 -->
    <insert id="addUser" parameterType="com.it.pojo.User">
        insert into users(uname, uage) values(#{uname}, #{uage})
    </insert>

    <!-- 根据ID修改用户 -->
    <update id="updateUserById" parameterType="com.it.pojo.User">
        update users
        set uname = #{uname}, uage = #{uage}
        where uid = #{uid}
    </update>

    <!-- 根据ID删除用户 -->
    <delete id="deleteUserById" parameterType="int">
        delete from users
        where uid = #{id}
    </delete>

</mapper>